<p>TO DO</p>
<br />
<div class="flex-container">
  <div style="display: flex;">
    <div class="aj" style="border:1px solid black">review performance</div>
    <div class="aj" style="border:1px solid black">take survey</div>
  </div>
</div>
<br />
<p>MY INFO</p>
<br />
<div>
  <div class="flex-container">
    <div style="display: flex;">
      <div class="aj" style="border:1px solid black">my profile</div>
      <div class="aj" style="border:1px solid black">my pending requests</div>
      <div class="aj" style="border:1px solid black">my LTI</div>
      <div class="aj" style="border:1px solid black">quick links</div>
      <div class="aj" style="border:1px solid black">goals</div>

      <!-- <div style="border:1px solid black">achievements</div> -->
    </div>
    <div>
      <div class="flex-container">
        <div style="display: flex;">
          <div class="aj" style="border:1px solid black">careers</div>
          <div class="aj" style="border:1px solid black">recruting</div>
          <div class="aj" style="border:1px solid black">career development plan</div>
          <div class="aj" style="border:1px solid black">performance</div>
          <div class="aj" style="border:1px solid black">achievements</div>
          <div class="aj" style="border:1px solid black">Activites</div>
        </div>
      </div>
    </div>
    <div>
      <div class="flex-container">
        <div style="display: flex;">
          <div class="aj" style="border:1px solid black">give feedback</div>
          <div class="aj" style="border:1px solid black">mobile application</div>
          <div class="aj" style="border:1px solid black">org chart</div>
          <div class="aj" style="border:1px solid black">
            leave request no leave planned
          </div>
          <div class="aj" style="border:1px solid black">trainee confirmation system</div>
        </div>
      </div>
    </div>
  </div>
</div>
